.center {
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    padding: 10px;
}

#the-canvas {
    border:1px solid black;
    float: left;
    margin-right: 10px;
}

.blockquote-footer .btn-danger{
	font-size: 12px;
	width: 20%;
	height: 20px;
	line-height: 20px;
	padding: 0px;
}